.company-landingPage {
    .main-body>.bodyContents {
        padding-top: 5em;

        @include respond-to("medium") {
            padding-top: 14.500em;
        }
    }
}

.descriptionImage {
    position: relative;
    min-height: 240px;

    >.descriptionImage-fill {
        border-radius: 8px;
        width: 100%;
        position: absolute;
    }

    &:nth-child(1)>.descriptionImage-fill {
        height: 200px;
        max-width: 224px;
    }

    &:nth-child(2)>.descriptionImage-fill {
        height: 240px;
        max-width: 304px;
    }

    &:nth-child(3)>.descriptionImage-fill {
        height: 144px;
        max-width: 144px;
        float: right;
    }

    &:nth-child(4)>.descriptionImage-fill {
        height: 212px;
        max-width: 212px;
    }
}