// Fonts
// $pfont: Arial
// italic small-caps bold 16px/1.5 Arial, sans-serif;
$font1: "Roboto",
sans-serif;

// Cclors
$white: #ffffff;
$white2: #e7eaee;
$black: #000000;
$black2: #1b1a24;
$gray: #6a6a6a;
$gray2: #979797;
$gray3: #cccccc;
$gray4:#E9EDF7;
$green: #50AC59;
$bg: #f5f9ff;
$blue: #191463;
$blue2: #161256;
$blue3: #2f5bea;
$sblue: #f5f9ff;
$sblue2: #28B3FF;
$orange: #ff6d00;
$orange2: #c63024;
$red: #dc1b0d;

// global variables
$grid-gutter-width: 16px;