.footer {
	background-color: $black2;
	color: rgba($white, 0.6);

	>.footerBody {
		padding: 2.429em 0;

		@include respond-to("medium") {
			padding: 5.750em 0;
		}
	}

	>.footerBody .sectionTitle {
		text-transform: uppercase;
		color: rgba($white, 0.6);
		font-size: 1.286em;

		@include respond-to("medium") {
			font-size: 1.125em;
		}

		margin-bottom: 10px;
	}

	.pagesLinks {
		list-style: none;
		padding-left: 0;
	}

	.pagesLinks a {
		font-size: 1em;

		@include respond-to("medium") {
			font-size: 0.875em;
		}

		color: rgba($white, 0.6);
		line-height: 1;
		margin: 10px 0;
		display: inline-block;
		width: 100%;
		font-weight: 300;
	}

	.footerLogo {
		@include respond-to("to-medium") {
			max-height: 100px;
		}
	}

	>.footerBottom {
		border-top: 1px solid rgba($gray2, 0.2);
		padding: 2.071em 0;
	}

	>.footerBottom .pagesLinks {
		margin-bottom: 0px;
	}

	>.footerBottom .pagesLinks li {
		display: inline-block;
	}

	>.footerBottom .pagesLinks li+li {
		margin-left: 35px;
	}

	>.footerBottom .pagesLinks a {
		margin: 0px;
	}

	.copyright {
		display: inline;
		font-size: 1em;
		color: rgba($white, 0.6);
		font-weight: 300;

		@include respond-to("medium") {
			font-size: 0.875em;
		}

		color: rgba($white, 0.6);
		line-height: 1;
	}
}