a {
	color: $blue;

	&:hover {
		color: lighten($blue, 20);
	}

	&.withIcon {
		display: flex;
		align-items: center;
	}

	&.withIcon>.fas {
		margin-left: 19px;
	}

	&.withImage {
		display: flex;
		/* create nested flex container */
		flex-wrap: wrap;
		/* enable flex items to wrap */
		justify-content: center;
	}

	&.withImage>img {
		max-height: 20px;
		margin-left: 10px;
	}
}

.btn {
	border-radius: 5px;
	padding: .375rem 1.3rem;

	&-md {
		font-size: 1em;
		padding: 0.688em 1em;
	}

	&-lg {
		font-size: 1em;
		font-weight: 500;
		padding: 0.938em 1.5em;
	}

	&-link {
		color: $blue;

		&:hover {
			text-decoration: none;
		}
	}

	&-info {
		background-color: #0966c2;
		color: $white;
	}

	&-success {
		background-color: $green;
		border-color: $green;
	}

	&-info:active {
		background-color: #0966c2 !important;
		border-color: #0966c2 !important;
	}

	&-info:hover {
		background-color: rgba(#0966c2, 1);
		border-color: #0966c2;
		box-shadow: 0 0 0 0.2rem rgba(#0966c2, 0.2);
	}

	&-primary {
		background-color: $blue;
		border-color: $blue;
	}

	&-primary:active {
		background-color: $blue3 !important;
		border-color: $blue3 !important;
	}

	&-outline-light {
		border-radius: 28px;
	}

	&-outline-primary {
		border-color: $blue;
		color: $blue;
		border-width: 2px;
	}

	&-outline-primary:active {
		background-color: $blue3 !important;
		border-color: $blue3 !important;
	}

	&-outline-primary:hover {
		background-color: rgba($blue, 1);
		border-color: $blue;
		box-shadow: 0 0 0 0.2rem rgba($blue, 0.2);
	}

	&-outline-secondary {
		border-color: $orange;
		color: $orange;
	}

	&-outline-secondary:hover {
		background-color: rgba($orange, 0.8);
		border-color: $orange;
		box-shadow: 0 0 0 0.2rem rgba($orange, 0.5);
	}

	&-outline-tertiary {
		border: 1px solid $gray2;
		color: $blue;
	}

	&-secondary {
		background-color: $orange;
		border-color: $orange;
	}

	&.btn-secondary:not(:disabled):not(.disabled).active,
	&.btn-secondary:not(:disabled):not(.disabled):active {
		background-color: $orange;
		border-color: $orange;
		box-shadow: 0 0 0 0.2rem rgba($orange, 0.5);
	}

	&.btn-secondary:not(:disabled):not(.disabled).active:focus,
	&.btn-secondary:not(:disabled):not(.disabled):active:focus {
		box-shadow: 0 0 0 0.2rem rgba($orange, 0.5);
	}

	&-xs-block {
		@include respond-to("to-small") {
			width: 100%;
		}
	}

	&.focus,
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(blue, 0.25);
	}
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
	background-color: $orange;
	border-color: $orange;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba($orange, 0.5);
}

.btn-secondary:hover {
	background-color: $orange;
	border-color: $orange;
	box-shadow: 0 0 0 0.2rem rgba($orange, 0.5);
}

.pagination {
	>.page-item>.page-link {
		border-width: 0px;
		color: $blue;
		padding: 0.813em 1.4em;
	}

	>.page-item.active>.page-link {
		border-width: 0px;
		background-color: $blue;
		color: $white;
	}

	>.page-item+.page-item .page-link {
		border-left: 1px solid #f6f6f6;
	}
}