.advanced-search {
	position: relative;
	bottom: -40px;
	background-color: $white;
	border-radius: 5px;
	box-shadow: 0 2px 100px $blue2;
	font-size: 14px;

	@include respond-to("medium") {
		bottom: -30px;
	}

	@include respond-to("large") {
		bottom: -40px;
		font-size: 1.125em;
	}

	&.open {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		//box-shadow: 0 20px 20px rgba($black, 0.2);
	}

	.input-group>.form-control {
		font-size: 1.222em;
		border-width: 0px;
		font-weight: 500;

		@include respond-to("to-medium") {
			text-align: center;
		}
	}

	.input-group>.inputIcon>.input-group-text {
		background-color: transparent;
		border-width: 0px;
	}

	.input-group>.inputIcon {
		background-color: $white;

		@include respond-to("to-medium") {
			position: absolute;
			z-index: 4;
		}
	}

	.input-group>.inputIcon .input-group-text>i {
		font-size: 1.375em;
		color: $blue;
	}

	.advancedSearchButton {
		line-height: 1em;
		padding: 0.833em;

		@include respond-to("medium") {
			color: rgba($white, 0.6);
		}

		width: 100%;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;

		@include respond-to("medium") {
			font-size: 1.667em;
			width: auto;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}

	&.open .departmentButton {
		border-bottom-left-radius: 0px;
	}

	&.open .advancedSearchButton {
		border-bottom-right-radius: 0px;
	}
}

.departmentWrap {
	>.departmentButton {
		color: $black;
		background-color: transparent;
		background-image: none;
		border-color: transparent;
		font-size: 1.222em;
		width: 100%;
		border-width: 0px;
		padding: 1em 1.857em;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 0px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 0px;

		@include respond-to("medium") {
			padding: 1.136em 1.227em;
			width: 170px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}

	>.departmentButton::after {
		font-size: 1em;
	}

	>.departmentButton>.departmentName {
		text-align: center;
		overflow: hidden;
		width: 90%;
		float: left;

		@include respond-to("to-medium") {
			width: 80%;
			margin-left: 10%
		}

		@include respond-to("medium") {
			text-align: left;
			width: 97px;
		}
	}
}

.departmentList {
	margin: 0px;
	padding: 0px;

	@include respond-to("to-medium") {
		top: 60px;
	}

	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-width: 0px;
	box-shadow: 0 20px 20px rgba($black, 0.2);
	font-size: 1em;

	>.container {
		box-shadow: 0 2px 4px 0 rgba($black, 0.5);
	}

	.departmentList-parentList {
		width: 28%;
		padding: 1.25em;
		border-right: 1px solid rgba($gray2, 0.2);
	}

	.departmentList-parentList>.nav-pills .nav-link {
		color: $blue;
		font-weight: 500;
	}

	.departmentList-parentList>.nav-pills .nav-link.active {
		color: $black;
		border-radius: 5px;
		background-color: $sblue;
	}

	.departmentList-childrenList {
		width: 72%;
		padding: 2em 2.5em;
	}

	.departmentList-childrenList>.tab-content .tab-pane ul {
		list-style: none;
		margin-bottom: 0px;
	}

	.departmentList-childrenList>.tab-content .tab-pane ul li a {
		font-weight: 300;
		color: rgba($black, 0.6);
		display: block;
		padding: 0.95em 0;
	}
}

.form-control-wrap {
	padding: 1em;

	@include respond-to("to-medium") {
		border-top: 1px solid rgba($gray2, 0.3);
	}

	@include respond-to("medium") {
		padding: 0 1em;
		margin: 0.778em 0;
		border-left: 1px solid rgba($gray2, 0.3);
	}
}