.blogCards-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 1.688em;
  margin-bottom: 2.625em;
}

.blogCard-body {
  min-height: 20.000em;

  @include respond-to("medium") {
    min-height: 23em;
  }

  @include respond-to("large") {
    min-height: 25.000em;
  }

  border-radius: 8px;
  padding: 1.563em;
  margin: 0.500em 0;
  transition: box-shadow 0.5s;

  &:hover,
  &.focus,
  &:focus {
    box-shadow: 0 20px 40px 0 rgba($black, 0.4);
    text-decoration: none;
  }
}