.companiesLogos {
  background-color: $white;
}


.companiesLogos-list {
  margin: 1.250em 0;

  .owl-stage .owl-item {
    text-align: center;
  }

  .owl-stage .owl-item .agencyLogo {
    height: 57px;
    width: auto;
    display: inline;
  }
}

// .owl-stage-outer:before,
// .owl-stage-outer:after {
//   content: "";
//   height: 100%;
//   width: 30px;
//   display: inline-block;
//   position: absolute;
//   left: -1px;
//   top: 0;
//   z-index: 1;
//   background: linear-gradient(to right, $white 0%, rgba(255, 255, 255, 0) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#00ffffff', GradientType=1);
// }

// .owl-stage-outer:after {
//   left: auto;
//   right: -1px;
//   background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $white 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#fafafa', GradientType=1);
// }