.main-header {
	background: $blue;
	color: $white;

	@include respond-to("medium") {
		max-height: 480px;
	}

	>.headerContents {
		padding: 2.313em 0 1.625em;

		@include respond-to("to-medium") {
			text-align: center;
		}

		@include respond-to("medium") {
			margin-bottom: 27px;
		}
	}

	>.headerContents .headerContentsText {
		@include respond-to("to-medium") {
			margin-bottom: 2em;
		}
	}

	>.headerContents .heading {
		font-size: 3em;

		@include respond-to("large") {
			font-size: 4.5em;
		}

		line-height: 1em;
		font-weight: 300;
	}

	>.headerContents .subHeading {
		font-size: 1.3em;

		@include respond-to("large") {
			font-size: 1.5em;
		}

		line-height: 1em;
		font-weight: 300;
	}

	>.headerContents .expoImage {
		max-width: 80%;

		@include respond-to("medium") {
			max-width: 100%;
			float: right;
		}

		@include respond-to("large") {
			max-width: 478px;
		}
	}
}

.breadcrumbs {
	display: inline-block;
	list-style: none;
	padding-left: 0px;
	font-weight: 300;

	li {
		float: left;
		padding: 0px 6px;

	}

	li:first-child {
		padding-left: 0px;
	}
}

.heroBanner {
	position: relative;
	bottom: -3.125em;
}