.jobCards-sort {
  border-bottom: 1px solid rgba($gray2, 0.2);
  padding: 2.063em 0;
}

.jobCards-sidebar {
  padding: 0 3.125em;
}

.jobCards-listWrap {
  @include respond-to("large") {
    border-left: 1px solid rgba($gray2, 0.2);
  }

  padding: 0 3.125em;
}

.jobCards-sidebar-accordion {

  .panel-heading {
    border-bottom: 1px solid rgba($gray2, 0.2);
  }

  .panel-heading>.panel-title {
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  .panel-heading>.panel-title>.accordion-toggle {
    display: block;
    padding: 1.250em 0;
    font-weight: 400;
    color: $blue;
  }

  .panel-heading>.panel-title>.accordion-toggle:hover,
  .panel-heading>.panel-title>.accordion-toggle.focus,
  .panel-heading>.panel-title>.accordion-toggle:focus {
    text-decoration: none;
  }

  .panel-heading>.panel-title>.accordion-toggle:after {
    content: "\f106";
    font-family: Fontawesome;
    float: right;
    color: $gray;
  }

  .panel-heading>.panel-title>.accordion-toggle.collapsed:after {
    content: "\f107";
  }

  .panel-body {}

  .panel-body .custom-control>.custom-control-label {
    color: $blue;
  }

  .panel-body .custom-control>.custom-control-label::before {
    border-radius: 1px;
    background-color: $white;
    border: 1px solid $gray;
  }

  .panel-body .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $blue;
  }
}

.sidebarFilter {
  .filterTitle {
    display: block;
    padding: 1.250em 0;
    font-weight: 400;
    color: $blue;
    text-transform: uppercase;
    border-bottom: 1px solid rgba($gray2, 0.2);
  }

  .form-group {
    padding: 1.5rem 0;

    .filterLabel {
      font-size: 12px;
    }
  }
}

.locationSliderWrap .slider.slider-horizontal {
  width: 100%;
}

.locationSliderWrap .slider-handle {
  background-color: $blue;
  background-image: none;
  height: 17px;
  width: 17px;
  top: -1px;
}

.locationSliderWrap .slider-selection {
  background-image: none;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
  background-color: $blue;
}

.locationSliderWrap .slider.slider-horizontal .slider-track {
  height: 4px;
  background-image: none;
  border-radius: 0px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
  background-color: #E1E5EE;
}