.section-details-card {
	border-radius: 10px;
	padding: 1.750em;
	background-color: $white;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.section-details-card hr {
	margin-right: -1.750em;
	margin-left: -1.750em;
}

.section-details-card .form-label {
	text-transform: uppercase;
	font-weight: 500;
}


.section-details-card .form-label span {
	text-transform: lowercase;
	font-weight: 400;
}

.section-details-card .formGuide {
	font-size: 0.750em;
	margin-top: 0.5em;

}

.section-details-card ul {
	padding-left: 0px;
}


.section-details-card.-overview ul {
	list-style: none;
}

.section-details-card.-overview ul li+li {
	margin-top: 0.875em;
}

.section-details-card .section-title {
	font-weight: 300;
	font-size: 1.250em;
	text-transform: uppercase;
	color: rgba($black, 0.6);
}

.section-details-card.-overview .label {
	text-transform: uppercase;
	color: rgba($black, 0.6);
	font-size: 0.750em;
}

.section-details-card.-detailed .label {
	text-transform: uppercase;
	font-weight: 500;
}

.section-details-card.-detailed ul {
	padding-left: 18px;
}

.section-details-card.-detailed ul li {
	color: #28B3FF;
}

.section-details-card.-detailed ul li+li {
	margin-top: 0.438em;
}

.section-details-card.-detailed ul li span {
	color: $black;
	font-size: 0.875em;
}

.section-details-card.-overview .data {
	font-weight: 500;
}

.section-details-card .message {
	font-size: 1em;
	color: $black;
}

.section-details-card .message.big {
	font-size: 1.875em;
	font-weight: 500;
}