.form-control {
  height: inherit;
}

td.uib-separator {
  text-align: center;
  padding: 5px !important;
  font-weight: bold;
}

.modal-body {
  padding: 1rem !important;
}

td.uib-time.am-pm {
  padding-left: 0.25rem;
}

td.uib-time.am-pm button {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.uib-time input {
  width: 80px;
}

.recruiter-signInPage > .main-body {
  background-color: var(--login-bgcolor) !important;
}

.main-body {
  background-color: var(--bgcolor) !important;
}

.input-group-append .btn {
  z-index: unset;
}

ul.uib-datepicker-popup.dropdown-menu {
  z-index: 1020;
  border: 1px solid #807c7c;
}

ul.uib-datepicker-popup > li {
  padding: 5px !important;
}

ul.uib-datepicker-popup > li > span > button {
  font-size: 12px;
}

ul.uib-datepicker-popup > li > button {
  font-size: 12px !important;
}

td.uib-day > .btn {
  border-width: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  border: inherit;
  border-radius: inherit;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

div.uib-daypicker > table > thead > tr > th > button {
  border-width: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  border: 1px solid #ccc;
  border-radius: inherit;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

div.uib-daypicker > table > thead > tr > th > button > i.glyphicon-chevron-right::after {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '>';
}

div.uib-daypicker > table > thead > tr > th > button > i.glyphicon-chevron-left::after {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '<';
}

td.uib-month > .btn {
  border-width: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  border: inherit;
  border-radius: inherit;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

div.uib-monthpicker > table > thead > tr > th > button {
  border-width: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  border: 1px solid #ccc;
  border-radius: inherit;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

div.uib-monthpicker > table > thead > tr > th > button > i.glyphicon-chevron-right::after {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '>';
}

div.uib-monthpicker > table > thead > tr > th > button > i.glyphicon-chevron-left::after {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '<';
}

td.uib-year > .btn {
  border-width: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  border: inherit;
  border-radius: inherit;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

div.uib-yearpicker > table > thead > tr > th > button {
  border-width: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  border: 1px solid #ccc;
  border-radius: inherit;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

div.uib-yearpicker > table > thead > tr > th > button > i.glyphicon-chevron-right::after {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '>';
}

div.uib-yearpicker > table > thead > tr > th > button > i.glyphicon-chevron-left::after {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '<';
}

svg:not(:only-child) {
  width: 20px !important;
  text-align: center !important;
  margin-right: 0.25rem;
  left: unset !important;
}

.uib-time-picker input,
.uib-time-picker input:focus {
  background: transparent;
}

.required {
  color: red;
}

.m-input-container {
  font-size: 14px !important;
}

.m-input-container .input-text {
  height: 49.38px !important;
  background-color: transparent;
}

.m-input-container label {
  display: -webkit-box !important;
  pointer-events: none;
  text-transform: none !important;
  z-index: 3;
}

.m-input-container .input-text {
  color: #3a3a3a !important;
}

.input-group.m-input-container .input-text {
  width: 1% !important;
}

.m-input-container input[type='email']:not(:placeholder-shown) ~ label,
.m-input-container .custom-text:not(:placeholder-shown) ~ label,
.m-input-container .input-text:disabled + label,
.m-input-container trix-editor.input-text.ng-valid ~ label,
.m-input-container .input-text:valid ~ label,
.m-input-container .placeholder ~ label,
.m-input-container .input-text:focus ~ label,
.m-input-container .input-text:not(:placeholder-shown)[readonly] ~ label,
.m-input-container .input-date ~ label {
  background-color: var(--bgcolor) !important;
  height: auto;
  line-height: 1;
  width: auto;
  top: -0.8em;
  font-size: 0.75em;
  pointer-events: none;
}

.was-validated .m-input-container .custom-text:not(:placeholder-shown) ~ label,
.was-validated .m-input-container .input-text:disabled + label,
.was-validated .m-input-container trix-editor.input-text.ng-valid ~ label,
.was-validated .m-input-container .input-text:valid ~ label,
.was-validated .m-input-container .placeholder ~ label,
.was-validated .m-input-container .input-text:focus ~ label,
.was-validated .m-input-container .input-text:not(:placeholder-shown)[readonly] ~ label,
.was-validated .m-input-container .input-date ~ label {
  top: -0.9em;
}

.was-validated .form-control.input-text.ng-binding,
.was-validated .form-control.input-text.ng-valid-parse,
.was-validated .form-control.input-text.ng-valid {
  border-color: #28a745 !important;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: center right calc(0.375em + 0.1875rem) !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.was-validated .form-control.input-text.ng-valid-parse:focus,
.was-validated .form-control.input-text.ng-valid:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.was-validated .form-control.input-date.ng-invalid-parse,
.was-validated .form-control.input-text.ng-invalid {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center right calc(0.375em + 0.1875rem) !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.was-validated div.uib-time-picker .form-control:invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
}

.was-validated .form-control.input-date.ng-invalid-parse:focus,
.was-validated .form-control.input-text.ng-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.label {
  z-index: 999;
}

tr td.form-group input.form-control {
  height: 49.38px;
  border: 2px solid #8e8e8c;
}

.was-validated .form-control.ng-invalid {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center right calc(0.375em + 0.1875rem) !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.was-validated .form-control.ng-invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}
