.jobDetails-page {

    .bodyContents {
        padding-top: 0px;
        margin-top: -30px;
    }

    .tag {
        font-weight: 400;
        text-transform: none;
        padding: 0.5rem 1rem;
    }

    p {
        color: $black;
    }
}