.applicants-list {

    .lead {
        text-transform: uppercase;
    }

    .dropdown {
        @include respond-to("to-small") {
            width: 100%;
        }
    }

    .dropdown>.btn-light {
        min-width: 100%;

        @include respond-to("medium") {
            min-width: 120px;
        }

        background-color: rgba($blue2, 0.05);
    }

    // >.dropdown-toggle {
    //     align-items: center !important;
    // }


    .dropdown+.dropdown {
        margin-left: 0.813em;
    }

    .searchDropdown {
        width: auto;

        >.dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu {
            min-width: 290px;

            @include respond-to("medium") {
                min-width: 500px;
            }
        }
    }
}