<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Upload Resume</h4>
</div>
<div class="modal-body" id="modal-body" style="height: 150px" block-ui="uploadBlockUI">
  <form name="$ctrl.form" accept-charset="utf-8">
    <div class="btn btn-primary mb-2" ngf-select name="file" ng-model="$ctrl.file" accept=".pdf,.doc,.docx" accept=".pdf,.doc,.docx" ngf-pattern="'.pdf,.doc,.docx'" ngf-max-size="1MB" required ngf-model-invalid="$ctrl.errorFile">
      <i class="fas fa-file"></i>
      <span>Select file (PDF, DOC, DOCX format)</span>
    </div>
    <div class="text-danger" ng-show="$ctrl.form.file.$error">
      <span ng-show="$ctrl.form.file.$error.required && $ctrl.form.$submitted && !$ctrl.form.file.$error.maxSize">No file selected</span>
      <span ng-show="$ctrl.form.file.$error.maxSize">File too large {{$ctrl.errorFile.size / 1000000|number:1}}MB: max 1MB</span>
    </div>
    <div class="row" ng-show="$ctrl.file">
      <div class="col-md-6">
        <strong ng-bind="$ctrl.file.name"></strong>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Upload</button>
</div>
